<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Enigmatic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.get('_route') == 'contrats' %}active{% endif %}">
                <a class="nav-link" href="{{ path('contrats') }}">Contrats <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'stat' %}active{% endif %}">
                <a class="nav-link" href="{{ path('stat') }}">Statistique</a>
            </li>
        </ul>
    </div>
</nav>