<div class="list-group">
    {% if interimaires is empty %}
        <a class="list-group-item list-group-item-action interimaire-item">Aucun intérimaire trouvé</a>

    {% else %}
        {% for interimaire in interimaires %}
            <a class="list-group-item list-group-item-action interimaire-item" data-id="{{ interimaire.0.id }}">{{ interimaire.0.nomPrenom }} ({{ interimaire.0.cp }}) <span class="note">{{ interimaire.noteMoyenne|number_format(1, '.', ',') }}</span></a>
        {% endfor %}
    {% endif %}
</div>

