{% extends 'base.html.twig' %}

{% block title %}Ajouter - editer{% endblock %}

{% block h1 %}Ajouter-editer{% endblock %}

{% block body %}
    {% set nomPrenom = (contrat is defined)? contrat.interimaire.nomPrenom : '' %}
    {% set id = (contrat is defined)? contrat.interimaire.id : '' %}

    {{ form_start(form) }}
        <div id="interimaire-search">
            {{ form_label(form.nomPrenom) }}
            {{ form_widget(form.nomPrenom,{'value':nomPrenom,
                                            'attr':{'data-url':path('interimaire_search'),
                                            'data-error':'Une erreur est survenue',
                                            'data-spinner':'En recherche',
                                            'autocomplete':'off'
                                            }}) }}
            {{ form_errors(form.nomPrenom) }}
            <div id="result-search"></div>
        </div>

        {{ form_widget(form.interimaire,{'value':id}) }}
    {{ form_end(form) }}


    {% block javascripts %}
        <script src={{ asset('js/interimaire-search.js') }}></script>
    {% endblock %}
{% endblock %}
