{% extends 'base.html.twig' %}

{% block title %}Contrats{% endblock %}

{% block h1 %}Contrats{% endblock %}

{% block body %}
    <p><a href="{{ path('contrat_add') }}" class="btn btn-primary">Ajouter un Contrat</a></p>
    <table  class="table">
        <thead>
            <tr>
                <th>Intérimaire</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contrat in contrats %}
                {# on aurait pu mettre les termes des statuts dans un service qui serait renvoyé par le controleur... #}
                {% set statut = (contrat.statut is null) ? 'Terminé' : (contrat.statut == 1) ? 'En cours' : 'En attente' %}
                <tr>
                    <td>{{ contrat.interimaire.nomPrenom }}</td>
                    <td>{{ contrat.debut|date('d-m-Y') }}</td>
                    <td>{{ contrat.fin|date('d-m-Y') }}</td>
                    <td>{{ statut }}</td>
                    <td>
                        <a href="{{ path('contrat_edit',{id:contrat.id}) }}" class="badge badge-warning">Editer</a>
                        <a href="{{ path('contrat_delete',{id:contrat.id}) }}" class="badge badge-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
